html {
  height: 60%;
  background-color: #161617;
}
body{
    height: 100%;
}
.headline {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.2rem;
  padding: 1.4rem 1.7rem 0 1.6rem;
  z-index: 2;
}
.logo {
  position: absolute;
  width: 100px;
  height: 34px;
  left: 30px;
  top: 29px;
}
.htext {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 18px;
  color: white;
  margin-left: 350px;
  margin-top: -12px;
  }
.mpage {
  margin-left: 0px;
  margin-top: 53px;
}
.mtext {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: 27px;
  color: white;
  margin-top: 272px;
  margin-left: 2px;
  width: 339px;
}
.hlogo0 {
  position: absolute;
  height: 35px;
  margin-top: -5px;
  margin-left: 1300px;
}
.hlogo1 {
  position: absolute;
  height: 24px;
  bottom: -19px;
  margin-left: -75px;
}
.hlogo2 {
  position: absolute;
  height: 24px;
  bottom: -19px;
  margin-left: -31px;
}
.mimg {
  margin-left: -35px;
  margin-top: 280px;
}
.mbtext {
  position: absolute;
  font-family: 'Raleway Bold';
  font-style: normal;
  font-size: 20px;
  color: white;
  margin-top: 26px;
  margin-left: 78px;
  height: 20px;
}
.block-1 {
  position: relative;
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 8px;
  line-height: 21px;
  color: #5F5F5F;
  height: 2.2rem;
  padding: 1.4rem 1.7rem 0 1.6rem;
  z-index: 2;
  margin-left: -300px;
}
.bl1-h2 {
  font-family: 'Raleway';
  margin-left: -99px;
  margin-top: 680px;
  width: 163px;
}
.bl1-h1 {
  position: absolute;
  left: -75px;
  top: 387px;
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.bl1-h1-1 {
  position: absolute;
  left: 191px;
  top: 387px;
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.bl1-h1-2 {
  position: absolute;
  width: 150px;
  height: 18px;
  left: 31px;
  top: 387px;
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  display: inline;
  border-bottom: 2px solid #0c8aff;
}
.kart-1 {
  position: absolute;
  left: -74px;
  top: 442px;
}
.kart-2 {
  position: absolute;
  left: 42px;
  top: 442px;
}
.kart-3 {
  position: absolute;
  left: 158px;
  top: 442px;
}
.txt-kart-1 {
  position: absolute;
  left: -74px;
  top: 545px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #FFFFFF;
}
.txt-kart-2 {
  position: absolute;
  left: 41px;
  top: 545px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  color: #FFFFFF;
}
.txt-kart-3 {
  position: absolute;
  left: 157px;
  top: 545px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #FFFFFF;
}
.qrcode{
  margin-top: 1450px;
  margin-left: 84px;
}
